.cart-container {
    width: 90%;
    margin: 40px auto;
}

.cart-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* Cart Items */
#cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.cart-item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.item-details {
    flex: 1;
    margin-left: 20px;
}

.item-details h4 {
    margin-bottom: 5px;
}

/* Quantity Box */
.qty-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.qty-btn {
    padding: 5px 12px;
    background: #ddd;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.qty-btn:hover {
    background: #ccc;
}

.remove-btn {
    background: crimson;
    color: white;
    padding: 7px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.remove-btn:hover {
    background: rgb(180, 15, 40);
}

/* Summary */
.cart-summary {
    margin-top: 30px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #eee;
    background: #fafafa;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.total-line {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 20px;
}

.checkout-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 15px;
}

.checkout-btn:hover {
    background: #0f7f1a;
}
